{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}EC-CUBEのアップデート{% endblock %}
{% block sub_title %}{% endblock %}

{% block stylesheet %}
    <meta name="referrer" content="no-referrer">
{% endblock stylesheet %}

{% block javascript %}{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <form name="form" method="post" action="{{ url('eccube_updater400to401_admin_check_permission') }}">
                    {{ form_widget(form._token) }}
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>アップデートの注意点</span></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col mb-2">
                                    <ul>
                                        <li>・この手順では、ec-cube.netからダウンロードしたEC-CUBEのパッケージを利用していることを想定しています。</li>
                                        <li>・本番環境でバージョンアップを行う前に、必ずテスト環境で事前検証を行ってください。</li>
                                        <li>・本番環境でバージョンアップを行う前に、必ずファイルのバックアップを行ってください</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>リリースノート</span></div>
                        <div class="card-body">
                            <iframe name="information" src="https://www.ec-cube.net/news/detail.php?news_id=311"
                                    style="width:100%; border:0; min-height:300px;"></iframe>
                        </div>
                    </div>
                    {% if supported %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-body">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-ec-conversion">書き込み権限の確認</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
